<h1>Your tasks:</h1>

{%if tasks is empty %}
<p>You don't have any tasks</p>
{% else %}
{% for task in tasks %}
   <li>{{task.getTitle()}} - {{task.getDeadline()|date('Y-m-d H:i:s')}}</li> 
{% endfor %}
{% endif %}
</ul> 
<br>
<a href="new"><button>Add Task</button></a>